* {
    margin: 0;
    padding: 0;
}


header {
   background-color: #0a3740; /*cor de fundo*/
   display: flex; /*itens lado a lado*/
   justify-content: center; /*Justificando os itens*/
   align-items: center; /*alinhamento vertical*/
}

.img-header {
    width: 200px;
}

h1 {
    color: white;
    font-size: 40px;
}

.section-01 {
    background-color: #258a60;
    padding: 150px; /*respiro interno da sessão*/
    display: flex; /*deixando os itens lado a lado*/
    justify-content: center; /*justificando/organizando os itens horizontal*/
    align-items: center; /*alinhamento vertical*/
}
.img-section-01 { /*classe utilizad nas imagens*/
 width: 350px; /*Largura da imagem*/
}
.paragrafo-section { /*Classe utilizada nos parágrafo*/
    color: white; /*cor da letra*/
    font-size: 40px; /*tamanho da letra*/
}



.section-02 {
    background-color: rgb(125, 124, 124);
    padding: 20px; /*respiro interno da sessão*/
    display: flex; /*deixando os itens lado a lado*/
    justify-content: center; /*justificando/organizando os itens horizontal*/
    align-items: center; /*alinhamento vertical*/
}


.section-03 {
    background-image: url(imagens/sea-7102124_1280.jpg); /*Inserir a imagem (não esquecer da URL)*/
    background-position: center; /*Ele cuida do posicionamento da imagem*/
    background-repeat: no-repeat; /*Aqui estamos desabilitando a repetição da imagem de fundo*/
    background-size: cover; /*Preenchimento total da imagem na sessão*/
    background-attachment: fixed; /*Utilizado para deixar a imagem fixa*/
    padding: 150px;

   display: flex; /*tornando item Flex*/
   justify-content: center; /*alinhamento horizontal*/
   align-items: center; /*alinhamento vertical*/
}

.section-03 button {
    padding: 10px;
    background-color: #032919;
    color: white;
    width: 200px;
}

footer {
    background-color: #258a60; /*cor de fundo*/
    display: flex; /*propriedade flex*/
    justify-content: center; /*justificando conteúdo/horizontal*/
    align-items: center; /*alinhamento vertical*/
    gap: 50px; /*brecha entre os itens*/
    padding: 35px;
}

.img-footer {
    width: 150px;
}


/* criar novo repositório */
/* Construir site de imobiliária */
/* fazer seguindo o mesmo template */